Repository paularmstrong/build-tracker, pull requests merged in 2020-02, with the labels that each got.

#110 Handle no parent revision
  src/server/src/api/__tests__/insert.test.ts
  src/server/src/api/insert.ts
Labels: 📁 Repo: server

#109 Fix upload build response
  src/cli/src/commands/__tests__/upload-build.test.ts
  src/cli/src/commands/upload-build.ts
  src/cli/src/modules/config.ts
  src/fixtures/cli-configs/rc/.build-trackerrc.js
Labels: 📁 Repo: cli

#112 [app] Add ellipsis to long ArtifactCells
  src/app/src/components/ComparisonTable/ArtifactCell.tsx
Labels: 📁 Repo: app

#121 [chore] upgrade yargs (fixes builds)
  src/cli/package.json
  src/server/package.json
  yarn.lock
Labels: 📁 Repo: cli, 📁 Repo: server

#124 [chore] upgrade eslint to latest
  .eslintrc.js
  docs/docs/.eslintrc.js
  package.json
  plugins/.eslintrc.js
  plugins/with-mariadb/src/queries.ts
  plugins/with-mysql/src/queries.ts
  plugins/with-postgres/src/queries.ts
  src/.eslintrc.js
  src/app/src/client/routes/__tests__/Dates.test.tsx
  src/comparator/src/index.ts
  src/formatting/src/index.ts
  src/server/src/csp.ts
  yarn.lock
Labels: 📁 Repo: app, 📁 Repo: comparator, 📁 Repo: docs, 📁 Repo: formatting, 📁 Repo: server, 📁 Repo: with-mariadb, 📁 Repo: with-mysql, 📁 Repo: with-postgres

#126 Upgrade typescript
  package.json
  src/build/src/index.ts
  src/cli/src/modules/config.ts
  src/comparator/src/ArtifactDelta.ts
  src/comparator/src/BuildDelta.ts
  src/comparator/src/index.ts
  src/server/src/types.ts
  yarn.lock
Labels: 📁 Repo: build, 📁 Repo: cli, 📁 Repo: comparator, 📁 Repo: server

#127 [server] default artifactConfig parts individually (#104)
  src/server/src/__tests__/server.test.ts
  src/server/src/server.ts
Labels: 📁 Repo: server

#135 Correct CI example
  docs/docs/guides/ci.md
Labels: 📁 Repo: docs

#140 [app] limit number of tick labels to prevent overlap
  src/app/src/components/Graph/XAxis.tsx
  src/app/src/components/Graph/__tests__/XAxis.test.tsx
Labels: 📁 Repo: app

#142 [app][server] ensure budgets passed to comparator
  src/app/src/store/__tests__/reducer.test.ts
  src/app/src/store/index.ts
  src/app/src/store/reducer.ts
  src/app/src/store/types.ts
  src/server/src/server.ts
Labels: 📁 Repo: app, 📁 Repo: server

#143 [app] minor component fixes for inputs
  src/app/src/components/DateTextField.tsx
  src/app/src/components/RadioSelect.tsx
  src/app/src/components/TextField.tsx
  src/app/src/views/Drawer.tsx
Labels: 📁 Repo: app

#144 [comparator] add * special key for artifact budgets
  config/fixtures-large.js
  docs/docs/packages/server.md
  src/comparator/src/BuildDelta.ts
  src/comparator/src/__tests__/BuildDelta.test.ts
Labels: 📁 Repo: comparator, 📁 Repo: docs

#145 [formatting] reduce zeroes in %-value formatting
  src/formatting/src/__tests__/index.test.ts
  src/formatting/src/index.ts
Labels: 📁 Repo: formatting

#146 [app] add copy as summary to appbar dropdown
  src/app/src/icons/ListBulleted.tsx
  src/app/src/views/AppBar.tsx
  src/app/src/views/__tests__/AppBar.test.tsx
Labels: 📁 Repo: app

#147 [app] copy link limits to selected revisions
  src/app/src/views/AppBar.tsx
  src/app/src/views/__tests__/AppBar.test.tsx
Labels: 📁 Repo: app

#149 [comparator] sort builds on comparator create
  src/comparator/src/__tests__/index.test.ts
  src/comparator/src/index.ts
Labels: 📁 Repo: comparator

#153 [docs] update to docusaurus 2, update homepage
  .eslintignore
  .eslintrc.js
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  docs/.gitignore
  docs/README.md
  docs/blog/2019-03-22-version-1.md
  docs/docs/packages/api-errors.md
  docs/docs/packages/app.md
  docs/docs/packages/build.md
  docs/docs/packages/cli.md
  docs/docs/packages/comparator.md
  docs/docs/packages/formatting.md
  docs/docs/packages/server.md
  docs/docs/packages/types.md
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/pages/index.js
  docs/src/pages/styles.module.css
  docs/src/theme/SearchBar/algolia.css
  docs/src/theme/SearchBar/index.js
  docs/src/theme/SearchBar/styles.css
  docs/static/img/favicon.png
  docs/static/img/favicon/favicon.ico
  docs/static/img/logo-animated.svg
  docs/static/img/logo.png
  docs/static/img/logo.svg
  docs/static/img/ogImage.png
  docs/static/img/undraw_completed_ngx6.svg
  docs/static/img/undraw_deliveries_131a.svg
  docs/static/img/undraw_server_down_s4lk.svg
  docs/website/core/Footer.js
  docs/website/package.json
  docs/website/pages/en/index.js
  docs/website/pages/en/versions.js
  docs/website/sidebars.json
  docs/website/siteConfig.js
  docs/website/static/css/custom.css
  docs/website/static/img/screenshot.png
  package.json
  src/app/jest.config.js
  src/cli/src/commands/__tests__/stat-artifacts.test.ts
  yarn.lock
Labels: 📁 Repo: app, 📁 Repo: cli, 📁 Repo: docs
